    <div class="section-wrapper">
        <div class="banner">
            <h2>{{category}}</h2>
        </div>
        <ul class="slides clearfix">
        {{#images}}
            <li><img src="images/{{category}}/thumb/{{imagePath}}" alt="{{title}} - {{caption}}"></li>
        {{/images}}
        </ul>
    </div>