    <div class="section-wrapper">
        <div class="banner">
            <h2>{{category}}</h2>
        </div>
        <ul class="slides clearfix">
        {{#images}}
            <li>
                <a href="images/{{../category}}/{{imagePath}}" title="{{title}}">
                    <img src="images/{{../category}}/thumb/{{imagePath}}" alt="{{title}} - {{caption}}">
                </a>
            </li>
        {{/images}}
        </ul>
    </div>